body {
  margin: 0;
  box-sizing: border-box;
  background-color: cornsilk;
}

img {
  max-width: 40%;
}

h1 {
  text-align: center;
}

header {
  background-color: midnightblue;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header .nav-item {
  width: 50%;
  display: inline-flex;
  justify-content: center;
}

header h1 {
  color: palegoldenrod;
  text-align: center;
}
header h2 {
  color: coral;
}

.body-container {
  margin: 2em;
}

#home {
  display: flex;
  justify-content: center;
}

#home img {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 2em;
  font-weight: bold;
  font-style: verdana;
  color: midnightblue;
}
